<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>PoA Dapp</title>
    <script src="/js/register.js"></script>
</head>
<body id="page-top">

    <div class="container-fluid" style="margin-top: 10%">
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 col-sm-4">
                <h4> Crie uma conta </h4>
                <form id="registerForm">
                    <div class="form-group">
                        <label for="username">Nome de usuário</label>
                        <input type="text" class="form-control" id="username" placeholder="Nome de usuário" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" placeholder="Senha" required>
                    </div>

                    <button 
                        type="submit" 
                        class="btn btn-primary btn-block" 
                        id="load" 
                    >Registre-se</button>
                </form>

                <small id="emailHelp" class="form-text text-muted">
                    Já tem uma conta?
                    <a href="/"> Login </a>
                </small>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>